* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #EC6220;
  margin: 5px 0; }

p {
  color: #333; }

.wrap-content {
  display: table;
  margin: 60px auto; }

.info-box {
  background: url("./../img/comp_plate_graybasic.png") no-repeat;
  background-size: contain;
  box-sizing: border-box;
  height: 335px;
  padding-bottom: 10px;
  width: 317px; }
  .info-box .container {
    border-radius: 5px;
    box-sizing: border-box;
    height: 100%;
    margin-left: 1px;
    position: relative;
    width: 100%; }
    .info-box .container .error {
      bottom: 0;
      color: #A4A4A4;
      display: table;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 100%; }
    .info-box .container .slides {
      position: relative; }
      .info-box .container .slides .slide {
        position: absolute;
        opacity: 0; }
        .info-box .container .slides .slide.active {
          opacity: 1; }
        .info-box .container .slides .slide .image.fade-out {
          opacity: 0; }
        .info-box .container .slides .slide .content {
          padding: 0 10px; }
          .info-box .container .slides .slide .content .body {
            font-size: 12px;
            height: 30px;
            line-height: 15px;
            overflow: hidden; }
            .info-box .container .slides .slide .content .body:not(.scroll-box) {
              padding-right: 5px; }
            .info-box .container .slides .slide .content .body p.description {
              margin-bottom: 10px; }
            .info-box .container .slides .slide .content .body p.note {
              color: #A4A4A4;
              display: none; }
  .info-box:not(.full-details) .slide h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre; }
  .info-box.full-details .slides .slide .content .body.scroll-box {
    overflow-y: scroll;
    padding: 0 5px 0 0; }
  .info-box.full-details .controls .toggle-details a.hide-details {
    display: inline-block; }
  .info-box.full-details .controls .toggle-details a.show-details {
    display: none; }

.controls {
  bottom: 3px;
  box-sizing: border-box;
  display: table;
  padding: 5px 10px;
  position: absolute;
  width: 100%; }
  .controls .toggle-details {
    margin-bottom: 10px; }
    .controls .toggle-details a {
      color: #EC6220;
      font-size: 12px; }
      .controls .toggle-details a:hover {
        color: #99390A; }
      .controls .toggle-details a.hide-details {
        display: none; }

.button {
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e9e9e9));
  background: -webkit-linear-gradient(top, white 0%, #e9e9e9 100%);
  background: linear-gradient(to bottom, white 0%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#e9e9e9',GradientType=0 );
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #A4A4A4;
  display: inline-block;
  font-size: 11px;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  overflow: hidden;
  position: relative;
  text-decoration: none; }
  .button:last-child {
    margin-right: 0; }
  .button.button-left {
    padding-left: 20px; }
    .button.button-left span.icon {
      border-right: 1px solid rgba(0, 0, 0, 0.15);
      left: 0; }
  .button.button-right {
    padding-right: 20px; }
    .button.button-right span.icon {
      border-left: 1px solid rgba(0, 0, 0, 0.15);
      right: 0; }
  .button.main-action-button {
    color: #EC6220;
    font-weight: bold;
    float: right; }
    .button.main-action-button span.icon {
      color: #EC6220; }
  .button span.content {
    padding: 5px 10px; }
  .button span.icon {
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e9e9e9));
    background: -webkit-linear-gradient(top, white 0%, #e9e9e9 100%);
    background: linear-gradient(to bottom, white 0%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#e9e9e9',GradientType=0 );
    position: absolute;
    top: 0;
    text-align: center;
    width: 20px; }
    .button span.icon img {
      padding-top: 5px; }
  .button span.icon .normal,
  .button:hover span.icon .active {
    display: inline-block; }
  .button span.icon .active,
  .button:hover span.icon .normal {
    display: none; }
  .button:hover span.content,
  .button.active span.content {
    background: #ff7c37;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7c37), color-stop(50%, #ff6c33), color-stop(51%, #ff5323), color-stop(100%, #ff3e1f));
    background: -webkit-linear-gradient(top, #ff7c37 0%, #ff6c33 50%, #ff5323 51%, #ff3e1f 100%);
    background: linear-gradient(to bottom, #ff7c37 0%, #ff6c33 50%, #ff5323 51%, #ff3e1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7c37', endColorstr='#ff3e1f',GradientType=0 );
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
